<<<<<<< HEAD
.container_chats {
  position: relative;
  margin: 0px 100px 0px 0px;
}
.container_chats::after {
  content: "";
  display: block;
  position: absolute;
  right: -40px;
  top: 3px;
  width: 3px;
  min-height: 100%;
  background: #d5d1e3;
  border-radius: 15%;
  opacity: 50%;
}

.chats {
  margin: 20px 0px 0px 0px;
}
.chat_message {
  font-size: 25px;
  color: rgb(4, 16, 37);
}
.chat_message:hover {
  transition: 0.3s;
  color: #7d7d7e;
=======
.chats {
	margin: 20px 0px 0px 0px;
}
.chat_message {
	font-size: 25px;
	color: rgb(4, 16, 37);
}
.chat_message:hover {
	transition: 0.3s;
	color: #7d7d7e;
>>>>>>> lesson93Pagination
}
