.header {
<<<<<<< HEAD
  width: 100%;

  /* background: -webkit-linear-gradient(
    225deg,
    rgb(33, 150, 161),
    rgb(51, 162, 202),
    rgb(94, 219, 164) 92%
  );
  background: -moz-linear-gradient(
    225deg,
    rgb(33, 150, 161),
    rgb(51, 162, 202),
    rgb(94, 219, 164) 92%
  );
  background: linear-gradient(
    225deg,
    rgb(33, 150, 161),
    rgb(51, 162, 202),
    rgb(94, 219, 164) 92%
  );
  -webkit-box-shadow: 1px 14px 10px -1px rgba(34, 60, 80, 0.18);
  -moz-box-shadow: 1px 14px 10px -1px rgba(34, 60, 80, 0.18);
  box-shadow: 1px 14px 10px -1px rgba(34, 60, 80, 0.18); */

=======
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

>>>>>>> lesson93Pagination
  background: rgba(182, 203, 215, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
<<<<<<< HEAD
=======

  padding: 10px 40px 10px 40px;
>>>>>>> lesson93Pagination
}

.header .header_logo {
  max-width: 50px;
<<<<<<< HEAD
  margin: 10px 0px 10px 40px;
=======
}
.container{
  display: flex;
  align-items: center;

}

.avatarHeader {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
>>>>>>> lesson93Pagination
}
