.wrapper_dialogs {
<<<<<<< HEAD
  display: flex;
  margin: 50px 0px 0px 100px;
=======
	display: flex;
	margin: 50px 0px 0px 100px;
}
.container_chats {
	width: 200px;
	height: 270px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
	position: relative;
	margin: 0px 100px 0px 0px;
}

.container_chats::-webkit-scrollbar {
	display: none;
	width: 0px;
}

.container_chats::after {
	content: '';
	display: block;
	position: absolute;
	right: -40px;
	top: 3px;
	width: 3px;
	min-height: 100%;
	background: #d5d1e3;
	border-radius: 15%;
	opacity: 50%;
}

.message {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
	position: relative;
}
.message::-webkit-scrollbar {
	display: none;
	width: 0px;
}

.formMessage {
	display: flex;
}

.inputMessage {
	width: 80%;
	height: 70px;
	margin: 30px 40px 30px 100px;
	padding: 0px 0px 30px 10px;
	border-radius: 10px;
}

.buttonMessage {
	padding: 0px 0px 0px 0px;
	margin: 35px 80px 35px 0px;
	box-shadow: 0px 10px 14px -7px #276873;
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color: #599bb3;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;

	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
>>>>>>> lesson93Pagination
}
